@using Student_Supervisor_Data_Access.DataManager;
@using Student_Supervisor_Logic.Models;
@inject IDataManager dataManager
@inject NavigationManager navManager

@page "/SupervisorHomePage/{StaffNumber}"

<div class="welcome-header">
    <div>
        <h3 class="pageTitle">Welcome @supervisor!.FirstName</h3>
    </div>
    <div class="welcome-header-scores">
        <div>
            <span>Interaction Score: @supervisor.InteractionScore</span>
        </div>
        <div>
            <span>Studet WellBeing Average: @supervisor.StudentWellBeingAverage</span>
        </div>
    </div>
</div>


@if(supervisor.Students.Count > 0)
{
    @foreach (var student in supervisor!.Students)
    {
        <div class="studentBox">
            <div class="studentBoxInfo">
                <h6>Student Number: @student.StudentNumber</h6>
                <h6>Name: @student.FirstName @student.LastName</h6>
                <h6>Wellbeing Score: @student.WellbeingScore</h6>
            </div>
            <div class="ButtonBox">
                <button class="btn btn-outline-light btn-lg text-uppercase" @onclick="() => OpenDetails(student)">View Profile</button>
            </div>
        </div>
    }
}
else
{
    <div class="studentBox">
        <h6>You Do Not Have Any Students</h6>
    </div>
}



<div class="manage-app-div">
    <button class="btn btn-outline-light btn-lg text-uppercase" @onclick="() => OpenAppointmnets(supervisor)">Manage Appointments</button>
</div>




@code {

    [Parameter]
    public string? StaffNumber { get; set;}

    private List<SeniorTutorModel>? seniorTutors;
    private PersonalSupervisorModel? supervisor;

    protected override void OnInitialized()
    {
        seniorTutors = dataManager.DeserializeSeniorTutorModelFromFile("C:\\Users\\ssmal\\source\\repos\\Student Supervison App\\Student Supervison App Library\\XmlFiles\\Database.xml");
        supervisor = dataManager.GetPersonalSupervisor(StaffNumber!,seniorTutors);
    }

    private void OpenDetails(StudentModel student)
    {
        navManager.NavigateTo($"/Details/{student.StudentNumber}/false");
    }


    private void OpenAppointmnets(PersonalSupervisorModel personalSupervisor)
    {
        navManager.NavigateTo($"/Appointments/{personalSupervisor.StaffNumber}");
    }
}
